/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: dirty;
  src: url('./assets/fonts/Ghost Factory.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: grunge;
  src: url('./assets/fonts/Grunge Tank.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
